<div class="container-sg-level-1">
<div class="card-text">
<h3 class="accepted">You accepted the exchange!</h3>
<p>To arrange the exchange contact the owner at:</p>
<div class="user-accepted">
<img src={{user.image}}>
<p>{{user.email}}</p>
</div>
</div>
</div>



