<div class="container-1-home">
<h1 class="tittle-home-1">My book. <span>Your Book</span></h1>
<h2 class="subtitle-home">Relive and live the books by exchanging or lending</h2>
<a class="browse-home" href="/books/browser">Browse books</a>
</div>