<div class="container-sg-level-1">
<h3 class="accepted">You accepted the loan!</h3>
<div class="card-text">
<p>To arrange the loan contact the owner at:</p>
<div class="user-accepted">
<img src={{user.image}}>
<p>{{user.email}}</p>
</div>
</div>
</div>
